@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.animated-text {
    @apply text-[#D73359] mt-4 text-center text-3xl font-semibold;
    animation: dance 3s ease-in-out infinite;
  }
  
@keyframes dance {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(-2deg);
  }
  50% {
    transform: translateY(10px) rotate(2deg);
  }
  75% {
    transform: translateY(-5px) rotate(-1deg);
  }
}
